.clippy {
    position: relative;
    margin-bottom: 3px;
}

.container {
    padding-top: 10px;
}

.copy-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.title-container {
    text-align: center;
    padding: 50px;
}

.form-container {
    text-align: center;
}

.deck-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.deck {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px 5px 5px 5px;
    margin: 10px;
}

.deck-cards {
    padding-top: 10px;
}

.deck-title {
    margin-bottom: 10px;
}

.hs-card {
    display: flex;
    padding: 5px;
}

.hs-card:hover {
    cursor: pointer;
    border-bottom: 1px dashed grey;
    border-top: 1px dashed grey;
}

.card-cost {
    width: 20px;
}

.card-container {
    border-radius: 15px 15px 15px 15px;
    max-width: 300px;
    padding: 0 10px 20px 10px;
}

.tooltip.show {
    opacity: 1;
}

.card-text {
    width: 180px;
}

.card-number {
    width: 15px;
    text-align: right;
}

footer {
    width: 100%;
    padding: 50px;
}

.row {
    text-align: center;
}

#shortURLGroup {
    max-width: 400px;
}