.container {
    padding-top: 10px;
}

.title-container {
    text-align: center;
    padding: 50px;
}

.form-container {
    text-align: center;
}

.deck-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.deck {
    padding: 10px;
}

.hs-card {
    display: flex;
}

.card-cost {
    width: 20px;
}

.card-text {
    width: 180px;
}

.card-number {
    width: 15px;
    text-align: right;
}

footer {
    width: 100%;
    padding: 25px;
}